@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom {
    transition: transform 0.4s;
}

.zoom:hover {
    transform: scale(1.03);
}